.caruselContent{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.carusel{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px
}