@import "./variables.module.scss";


.card{
    position: relative;
    border-radius: 35px;
    background: linear-gradient(90deg, rgba(17, 65, 235, 0.20) 17.71%, rgba(0, 0, 0, 0.00) 100%), #FFF;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 400px;
    min-height: 400px;
    padding: 25px 40px;

    .image{
        position: absolute;
        right: 0;
        bottom: 0;
        height: auto;
        aspect-ratio: 220/360;
    }

    .title{
        font-size: 30px;
        color: $dark-text-color;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    
    .name{
        font-size: 25px;
        line-height: 1.2em;
        text-transform: uppercase;
        margin-bottom: 70px;
    }

    .button{
        background-color: $main-text-color;
        color: $background-color;
        border-radius: 16px;
        padding: 18px 16px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.2em;
        box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.11);
    }
}

